@use './variables' as *;

.blog {
    margin-bottom: 100px;

    &__wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 5%;
    }

    &__boxparent {

        &--left {
            max-width: 550px;
            margin-bottom: 20px;
        }

        &--right {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            flex-direction: column;
            flex: 1;
        }
    }


    &__img,
    &__imgbox {
        aspect-ratio: 16/9;
        border-radius: 8px;
        overflow: hidden;

        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }

    span {
        margin: 15px 0;
        padding: 5px 10px;
        background-color: #f5c467;
        border-radius: 10px;
        display: inline-block;
        font-size: 12px;
    }

    &__title {
        line-height: 1.5;
        font-size: 18px;
        margin-bottom: 10px;
    }

    &__desc,
    a {
        line-height: 1.5;
        font-size: 14px;
        margin-bottom: 10px;
        color: $desc-color;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        gap: 5%;

    }

    &__imgbox {
        position: relative;
        flex: 1;
    }

    &__content {
        flex: 2;
    }


    &__bitton {
        position: absolute;
        bottom: 0;
        right: 2%;
        z-index: 99;
    }


    @media(max-width: 1199px) {

        &__box {
            flex-direction: column;
        }

        &__imgbox,
        &__content {
            flex: 1;
        }


    }


    @media (max-width: 991px) {

        &__box {
            flex-direction: row;
        }

        &__imgbox {

            flex: 1;
        }

        &__content {
            flex: 2;
        }

        &__title {

            font-size: 18px;

        }

        &__desc,
        a {

            font-size: 14px;

        }

    }


    @media (max-width: 767px) {
        &__title {
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 5px;
        }

        &__desc,
        a {

            font-size: 10px;

        }

        &__btn {
            font-size: 8px;

        }
    }

}